<form [formGroup]="resetForm" (ngSubmit)="resetPasseord(resetForm.value,resetForm.valid)">
    <h1 mat-dialog-title>Reset Password</h1>
  <div mat-dialog-content>
    <div class="row">
      <div class="col-md-12">
        <mat-form-field class="input-field">
          <input type="text" matInput placeholder="Teachers Initial" formControlName="id">
          <mat-error *ngIf="resetForm.controls['id'].errors?.required">
            <strong>Teacher Initial</strong> is required</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-12">
        <mat-form-field class="input-field">
          <input type="password" matInput placeholder="New Password" formControlName="newPassword">
          <mat-error *ngIf="resetForm.controls['newPassword'].errors?.required">
            <strong>New</strong> Password is required</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-12">
        <mat-form-field class="input-field">
          <input type="password" matInput placeholder="Confirm Password" formControlName="confirmPassword">
          <mat-error *ngIf="resetForm.controls['confirmPassword'].errors?.required">
            <strong>Confirm</strong> Password is required</mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div mat-dialog-actions fxLayout="row">
    <span fxFlex></span>
    <button type="button" mat-button (click)="dialogRef.close()">Cancel</button>
    <button type="submit" mat-button>Reset Password</button>
  </div>
</form>
