<div class="row">
  <div class="col-md-12">
    <ul>
      <li *ngFor="let item of assignedCourses">
        <div class="col-md-4 padding-10">
          <mat-card>
              <div class="row">
                <div class="col-md-12">
                  <h3 class="teacher-name">{{item.teacher}}</h3>
                </div>
                <div class="col-md-12 course-name">
                  <strong>Course : </strong> {{ item.course}}</div>
                <div class="col-md-8 section-batch">
                  <strong>Semester: </strong> {{item.semester}}</div>
                <div class="col-md-4 section-batch">
                  <strong>Section: </strong>{{item.section}}</div>
              </div>
          </mat-card>
        </div>
      </li>      
    </ul>
  </div>
</div>
