
<app-navbar></app-navbar>

<div class="page-container">
  
      <!-- Page content -->
      <div class="page-content">
  
        <!-- Main sidebar -->
        <div class="sidebar sidebar-main">
          <app-sidebar></app-sidebar>
        </div>
        
      
        <!-- /main sidebar -->
  
        <!-- Main content -->
        <div class="content-wrapper">
  
          <!-- Content area -->
          <div class="content">
              <!---->
            <router-outlet></router-outlet>
            <!-- Footer -->
            <div class="footer text-muted">
              &copy; 2017. <a href="#">Developed</a> by <a href="#" target="_blank">Muhammad Masud</a>
            </div>
            <!-- /footer -->
  
          </div>
          <!-- /content area -->
        </div>
        <!-- /main content -->
      </div>
      <!-- /page content -->
    </div>
