
<div class="row">
  <div class="col-md-12">
    <table class="table table-bordered table-hover">
      <thead>
      <tr>
        <th>SL</th>
        <th>Course Name</th>
        <th>Course Code</th>
        <th>Total Credit</th>
        <th>Assigned Credit</th>
        <th>Remaining Credit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let course of CourseList; let i = index">
      <td>{{i+ 1}}</td>
      <td>{{course.course}}</td>
      <td>{{course.code}}</td>
      <td>{{course.takenCredit}}</td>
      <td>{{course.assignedCredit}}</td>
      <td>{{course.takenCredit - course.assignedCredit}}</td> 
    </tr>
    </tbody>
    </table>
  </div>
</div>