<ng2-toasty [position]="'top-right'"></ng2-toasty>

<div class="row">
  <div class="col-md-12">
    <mat-card>
      <form >
        <div class="row">
        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Teacher" aria-label="Teacher" [matAutocomplete]="auto" [formControl]="teacherCtrl">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option  (onSelectionChange)="SelectTeacher($event,teacher)" *ngFor="let teacher of filteredTeacher | async" [value]="teacher.Name"> 
                <span class="auto-title">{{ teacher.Name }}</span> |
                <small class="sub-title">Initial: {{teacher.Initial}}</small>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
       
          <div class="col-md-3" *ngIf="SelectedTeacher">  
            <mat-chip-list>             
              <mat-chip color="primary" class="chips"><h4>Taken credit: {{takenCredit}}</h4></mat-chip>
            </mat-chip-list>              
          </div>
          <div class="col-md-3" *ngIf="SelectedTeacher">
              <mat-chip color="accent" class="chips" selected="true"><h4>Remaining Credit: {{remainingCredit}}</h4></mat-chip>
          </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Course" aria-label="Course" [matAutocomplete]="course" [formControl]="courseCtrl">
            <mat-autocomplete #course="matAutocomplete">
              <mat-option  (onSelectionChange)="SelectdCourse($event,course)" *ngFor="let course of filteredCourse | async" [value]="course.Name"> 
                <span class="auto-title">{{ course.Name }}</span> |
                <small class="sub-title">Semester: {{course.Batch}}</small>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>       
        <div class="col-md-3">  
          <mat-form-field>
            <mat-select [(ngModel)]="selectedSectionId" (change)="SelectdSection(selectedSectionId)"  placeholder="Select Section" [formControl]="sectionCtrl">
              <mat-option *ngFor="let section of Sections" [value]="section.Id">
                {{ section.Name }}
              </mat-option>
            </mat-select>
          </mat-form-field>     
        </div>
        <div class="col-md-3">
            <button mat-raised-button color="primary" (click)="assignCourse()" ><span class="glyphicon glyphicon-plus"></span></button>
        </div>
      </div>
      </form>
    </mat-card>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <ul>
      <li *ngFor="let item of SelectedCourseList">
        <div class="col-md-4 padding-10">
          <mat-card>
              <div class="row">
                <div class="col-md-12">
                  <h3 class="teacher-name">{{item.TeacherName}}</h3>
                </div>
                <div class="col-md-12 course-name">
                  <strong>Course : </strong> {{ item.CourseName}}</div>
                <div class="col-md-8 section-batch">
                  <strong>Semester: </strong> {{item.Semester}}</div>
                <div class="col-md-4 section-batch">
                  <strong>Section: </strong>{{item.SectionName}}</div>
              </div>
          </mat-card>
        </div>
      </li>      
    </ul>
  </div>
</div>

