<div class="sidebar-content">	 
  <!-- Main navigation -->
  <div class="sidebar-category sidebar-category-visible">
    <div class="category-content no-padding">
      <ul class="navigation navigation-main navigation-accordion">

        <!-- Main 
        <li class="navigation-header"><span>Main</span> <i class="icon-menu" title="Main pages"></i></li>
        -->
        <li class="active"><a routerLink="/" ><i class="icon-home4"></i> <span>Dashboard</span></a></li>
        <li>
          <a href="#"><i class="icon-stack2"></i> <span>Upload</span></a>
          <ul>
            <li><a routerLink="/upload-teacher">Upload Teacher</a></li>
            <li><a routerLink="/upload-courses">Upload Courses</a></li>								
          </ul>
        </li> 
        <li>
          <a href="#"><i class="icon-droplet2"></i> <span>Save</span></a>
          <ul>            
            <li><a routerLink="/assign-course">Assign Course</a></li>
            <li><a routerLink="/add-course">Add Course</a></li>
            <li><a href="colors_success.html">Add Teacher</a></li> 
          </ul>
        </li>  
        <li class="navigation-header"><span>View And Settings</span> <i class="icon-menu" title="Extensions"></i></li>
        <li>
          <a href="#"><i class="icon-puzzle4"></i> <span>View</span></a>
          <ul>
            <li><a href="extension_image_cropper.html">View All Teacher</a></li>
            <li><a href="extension_blockui.html">Search Assigned Course</a></li>
            <li><a href="extension_dnd.html">Remaining Course's Credit</a></li>
            <li><a href="#">Remaining Teacher's Credit</a></li>
          </ul>
        </li>
        <li>
          <a href="#"><i class="icon-popout"></i> <span>Setting</span></a>
          <ul>
            <li><a href="jqueryui_interactions.html">Recover Password</a></li>
            <li><a href="jqueryui_forms.html">Assign Role</a></li>
            <li><a href="jqueryui_components.html">Components</a></li>
            <li><a href="jqueryui_sliders.html">Sliders</a></li>
            <li><a href="jqueryui_navigation.html">Navigation</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <!-- /main navigation -->

</div>