<div class="sidebar-content">	 
  <!-- Main navigation -->
  <div class="sidebar-category sidebar-category-visible">
    <div class="category-content no-padding">
      <ul class="navigation navigation-main navigation-accordion">

        <!-- Main 
        <li class="navigation-header"><span>Main</span> <i class="icon-menu" title="Main pages"></i></li>
        -->
        <li class="active"><a routerLink="/" ><i class="icon-home4"></i> <span>Dashboard</span></a></li>
        <li>
          <a href="#"><i class="icon-stack2"></i> <span>Upload</span></a>
          <ul>
            <li><a routerLink="/upload-teacher">Upload Teacher</a></li>
            <li><a routerLink="/upload-courses">Upload Courses</a></li>
            <li><a href="layout_navbar_hideable.html">Hideable navbar</a></li> 									
          </ul>
        </li> 
        <li>
          <a href="#"><i class="icon-droplet2"></i> <span>Courses</span></a>
          <ul>            
            <li><a routerLink="/assign-course">Assign Course</a></li>
            <li><a href="colors_danger.html">Danger palette</a></li>
            <li><a href="colors_success.html">Success palette</a></li> 
          </ul>
        </li>  
        <li>
          <a href="#"><i class="icon-transmission"></i> <span>Horizontal navigation</span></a>
          <ul>
            <li><a href="navigation_horizontal_click.html">Submenu on click</a></li>
            <li><a href="navigation_horizontal_hover.html">Submenu on hover</a></li>
            <li><a href="navigation_horizontal_elements.html">With custom elements</a></li>
            <li><a href="navigation_horizontal_tabs.html">Tabbed navigation</a></li>
            <li><a href="navigation_horizontal_disabled.html">Disabled navigation links</a></li>
            <li><a href="navigation_horizontal_mega.html">Horizontal mega menu</a></li>
          </ul>
        </li>  
        <!-- /data visualization -->

        <!-- Extensions -->
        <li class="navigation-header"><span>Extensions</span> <i class="icon-menu" title="Extensions"></i></li>
        <li>
          <a href="#"><i class="icon-puzzle4"></i> <span>Extensions</span></a>
          <ul>
            <li><a href="extension_image_cropper.html">Image cropper</a></li>
            <li><a href="extension_blockui.html">Block UI</a></li>
            <li><a href="extension_dnd.html">Drag and drop</a></li>
          </ul>
        </li>
        <li>
          <a href="#"><i class="icon-popout"></i> <span>JQuery UI</span></a>
          <ul>
            <li><a href="jqueryui_interactions.html">Interactions</a></li>
            <li><a href="jqueryui_forms.html">Forms</a></li>
            <li><a href="jqueryui_components.html">Components</a></li>
            <li><a href="jqueryui_sliders.html">Sliders</a></li>
            <li><a href="jqueryui_navigation.html">Navigation</a></li>
          </ul>
        </li>
        <li>
          <a href="#"><i class="icon-upload"></i> <span>File uploaders</span></a>
          <ul>
            <li><a href="uploader_plupload.html">Plupload</a></li>
            <li><a href="uploader_bootstrap.html">Bootstrap file uploader</a></li>
            <li><a href="uploader_dropzone.html">Dropzone</a></li>
          </ul>
        </li>  							
        <li>
          <a href="#"><i class="icon-people"></i> <span>User pages</span></a>
          <ul>
            <li><a href="user_pages_list.html">User list</a></li>
            <li><a href="user_pages_cards.html">User cards</a></li>
            <li><a href="user_pages_profile.html">Simple profile</a></li>
            <li><a href="user_pages_profile_tabbed.html">Tabbed profile</a></li>
            <li><a href="user_pages_profile_cover.html">Profile with cover</a></li>
          </ul>
        </li> 
        <!-- /page kits -->

      </ul>
    </div>
  </div>
  <!-- /main navigation -->

</div>