<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">

  <h1>
    Excel to JSON converter
  </h1>
  
  <div>
    <label for="">Select an .xlsx file to get json</label>
    <br>
    <input type="file" (change)="handleFile($event)" />
  </div>
  
  <div class="result-container" *ngIf="result && result.length>0">
     
      <table class="table table-bordered table-hover table-condense">
        <thead>
          <tr>
              <th>SL</th>
              <th>Name</th>
              <th>Initial</th>
              <th>Designation</th>
              <th>Cell Number</th>
              <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let t of teacher" style="text-align:left">
              <td>{{t.SL}}</td>
              <td>{{t.Name}}</td>
              <td>{{t.Initial}}</td>
              <td>{{t.Designation}}</td>
              <td style="text-align:right">{{t.CellNumber}}</td>
              <td>{{t.Email}}</td>
          </tr>        
        </tbody>
      </table>
     <br> 
  </div>
