.result-container{
    border: 1px solid gray;
overflow: auto;
border-radius: 4px;
padding: 10px
}
.example-button-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .mat-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  
